@import './colors.scss';
@import './breakpoints.scss';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//TYPOGRAPHY
body {
  color: $text-gray;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  color: $gray;
  font-weight: 400;
}

.heading-1,
.heading-2 {
  font-family: 'Bentham', serif;
  text-transform: lowercase;
}

.heading-1 {
  font-size: 2.827rem;
}

.heading-2 {
  font-size: 1.999rem;
}

.heading-3 {
  font-size: 1.414rem;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1rem;
  font-weight: 700;
}

.link {
  box-shadow: inset 0 -2px 0 0 $blue-green;
  color: $gray;
  font-weight: 700;
  padding: 1px;
  text-decoration: none;
  transition: box-shadow 0.25s;

  &:hover, &:active {
    box-shadow: inset 0 -8px 0 0 $blue-green;
  }
}

.description {
  align-items: baseline;

  .description-text {
    margin-bottom: 1rem;
  }
}

//CONTAINER WIDTH
.page {
  max-width: 85vw;
  margin: 0 auto;

  @include bp(tab) {
    max-width: 90vw;
  }
}

//GRID
.one-third {
  grid-column: span 4;
}

.two-thirds {
  grid-column: span 8;
  margin-left: 5rem;
}

.full-width {
  grid-column: span 12;
}

@include bp(tab) {
  .one-third,
  .two-thirds {
    grid-column: span 6;
  }

  .two-thirds {
    margin-left: 1rem;
  }
}

@include bp(tab-portrait) {
  .one-third,
  .two-thirds {
    grid-column: span 12;
    margin-left: 0;
  }
}

@import '../components/Header/Header.scss';
@import '../components/HomePage/HomePage.scss';
@import '../components/common/Hero/Hero.scss';
@import '../components/common/Logo/Logo.scss';
@import '../components/common/ProjectInfo/ProjectInfo.scss';
