@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.header {
  display: flex;
  margin: 1rem 0;
}

.header__nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  .header__sub-link {
    padding-top: 2.5rem;

    &:not(:last-child) {
      padding-right: 3rem;

      @include bp(tab) {
        padding-right: 2rem;
      }
    }

    a.active {
      box-shadow: inset 0 -8px 0 0 $blue-green;
    }
  }
}

.header__logo {
  @include bp(extra-small-landscape) {
    width: 3.5rem;
  }
}
